<%= content_for(:head) do %>
  <%-# Facebook meta tags -%>
  <meta property="og:url" content="/users/<%=@user.id%>/memes/<%=@meme.id%>">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Muh Memes" />
  <meta property="og:description" content="Create, save, and share awesome memes!" />
  <meta property="og:image" content="<%= @meme.image.url %>" />
  <meta property="og:image:width" content="<%=@meme.image.image_width%>" />
  <meta property="og:image:height" content="<%=@meme.image.image_height%>" />
  <%-# Twitter cards -%>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@ianroberts131" />
  <meta name="twitter:title" content="Muh Memes" />
  <meta name="twitter:description" content="Create, save, and share awesome memes!" />
  <meta name="twitter:image" content="<%= @meme.image.url %>" />
<% end %>

<script>
$(function() {
  $("#meme-private-checkbox").change(function() {
    $.ajax({
      type: "PUT",
      url: "/users/<%=@user.id%>/memes/<%=@meme.id%>.json",
      contentType: 'application/json',
      data: JSON.stringify({private: this.checked, _method:"PUT"}),
      dataType: 'json'
      });
  });
});
</script>
<div class="row meme-creation hidden">
  <%= render 'shared/meme_form' %>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 center">  
    <div class="image">
      <% unless current_user?(@user) %>
      <p>
        Created by: <%= link_to @user.name, user_path(@user) %>
      </p>
      <% end %>
      <p>
        Tags: <%= raw @meme.tag_list.map { |tag| link_to tag, root_path(:search => tag) }.join(", ") %>
      </p>
      <div><%= image_tag @meme.image.url if @meme.image? %></div>
      <ul class="meme-option-buttons">
        <% if current_user?(@user) %>
          <li id='meme-delete-button' class="col-xs-4 meme-option">
            <%= link_to user_meme_path(@user, @meme), method: :delete do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          </li>
        <% end %>
        <% if logged_in? %>
          <li class="center meme-option">
            <% if current_user.favorite_memes.exists?(id: @meme.id) %>
              <% favorited = true %>
            <% else %>
              <% favorited = false %>
            <% end %>
            <span class="toggle-favorite" <% if favorited %> style="display: none" <% end %> >
              <%= link_to user_meme_favorite_memes_path(current_user, @meme), method: :post, remote: true  do %>
                <i class="glyphicon glyphicon-heart add-to-favorites-heart"></i>
              <% end %>
            </span>
            <span class="toggle-favorite center" <% unless favorited %> style="display: none" <% end %> >
              <%= link_to user_meme_favorite_meme_path(current_user, @meme), method: :delete, remote: true  do %>
                <i class="glyphicon glyphicon-heart remove-from-favorites-heart"></i>
              <% end %>
            </span>
            <span class="favorites-count"><%= @meme.favorites.count %></span>
          </li>
        <% end %>
        <% if current_user?(@user) %>
          <li class="private-checkbox col-xs-4 meme-option">
            <%= form_for(@meme, url: { controller: "memes", action: "update" }) do |f| %>
              <%= f.check_box :private, class: "check-box", id: "private-checkbox" %>
              <%= f.label "private meme" %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if @original_image %>
        <button type="button" class="btn btn-success meme-image-button" id="meme-this" data-original-image=<%= @original_image.original_image.url %>>Meme this image!</button>
        <%= link_to "View Original Image", original_image_path(@original_image), :class => "btn btn-primary meme-image-button" %>
      <% end %>
      </div>
      
    <% if current_user?(@user) %>
      <%= form_for(@meme, url: { controller: "memes", action: "update"}, :html => {:class => "form-group"}) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="col-md-6 col-md-offset-3 center" id="meme-show-tag-section">
        <div class="col-md-12">
          <%= f.label :tag_list, "Update tags (separated by commas)" %>
          <%= f.text_field :tag_list, value: @meme.tag_list.to_s, class: "form-control" %>
        </div>
        <div class="col-md-12">
          <p><%= f.submit "Update tags", class: "btn btn-success" %></p>
        </div>
      </div>
      <% end %>
    <% end %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 center" id="share-button-container">
        <ul id="share-buttons">
          <li>Share via: </li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=
          <%= request.original_url %>" target="_blank" class="meme-show-button"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="http://twitter.com/home?status=
          <%= request.original_url %>" title="Share on Twitter" target="_blank" class="meme-show-button"><i class="fa fa-twitter fa-lg"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row meme-thumbnails">
  <% if @original_image %>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <h3>Related Memes (<%= @original_image.memes.count %>)</h3>
      <% if @original_image.memes.any? %>
        <ul class="memes-list">
          <%= render @original_image.memes %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
