<% provide(:title, "All users") %>
<h1>All users</h1>
<div class="row">
  <div class="col-md-offset-2 col-md-8 col-xs-12">
    <div class="col-xs-12 center search-area">
      <%= form_tag users_path, :method => :get, class: "form-inline", :autocomplete => :off do %>
        <div class="input-group col-xs-8 col-md-6 col-lg-4 search-bar">
          <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control col-xs-12" %>
        </div>
          <%= button_tag type: "submit", class: "btn btn-secondary" do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
          <%= button_tag type: "submit", class: "btn btn-primary", name: "all" do %>
            <span class="glyphicon glyphicon-refresh"></span>
          <% end %>
      <% end %>
    </div>
    
    <%= will_paginate %>
    
    <ul id="users">
      <% @users.each do |user| %>
        <li>
          <%= render user %>
        </li>
      <% end %>
    </ul>
    
    <%= will_paginate %>
  </div>
</div>