<%= provide(:title, @user.name) %>
<% if current_user == @user %>
  <div class="row meme-creation">
      <%= render 'shared/meme_form' %>
  </div>
<% else %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-4 avatar">
    <% if @user.avatar_url %>
      <img src="<%= @user.avatar_url(:thumb) %>">
    <% else %>
      <i class="glyphicon glyphicon-user" id="default-avatar-image"></i>
    <% end %>
  </div>
<% end %>

<div class="row meme-thumbnails">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <% if @user.memes.any? %>
      <% if @tag %>
        <% if current_user?(@user) %>
          <h3>Muh Saved Memes with tag <%= @tag %>: <%= @user.memes.tagged_with(@tag).count %></h3>
        <% else %>
          <h3><%= @user.name %>'<%= @user.name.last == "s" ? "" : "s" %> Saved Memes with tag <%= @tag %>: <%= @user.memes.tagged_with(@tag).count %></h3>
        <% end %>
        <%= link_to "Show All", user_path(@user), class: "btn btn-primary" %>
      <% else %>
      <% if current_user?(@user) %>
        <h3>Muh Saved Memes (<%= @user.memes.count %>)</h3>
      <% else %>
        <h3><%= @user.name %>'<%= @user.name.last == "s" ? "" : "s" %> Saved Memes (<%= @user.memes.count %>)</h3>
      <% end %>
      <div class="col-xs-12 center search-area">
        <%= form_tag user_path(@user), :method => :get, class: "form-inline", :autocomplete => :off do %>
          <div class="input-group col-xs-8 col-md-6 col-lg-4 search-bar">
            <%= text_field_tag :search, params[:search], placeholder: "Search Memes", class: "form-control col-xs-12" %>
          </div>
            <%= button_tag type: "submit", class: "btn btn-secondary" do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
            <%= button_tag type: "submit", class: "btn btn-primary", name: "all" do %>
              <span class="glyphicon glyphicon-refresh"></span>
            <% end %>
        <% end %>
      </div>
      <div class="row center">
        <div class="tag-cloud col-xs-12 col-md-offset-3 col-md-6">
          <% tag_cloud @user.user_tag_counts_collection, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, { :search => tag.name }, class: css_class %>
          <% end %>
        </div>
      </div>
      <% end %>
      
      <ul class="memes-list center">
        <% if current_user?(@user) %>
          <%= render @memes %>
        <% else %>
          <%= render @public_memes %>
        <% end %>
      </ul>
      <%= will_paginate @memes %>
    <% end %>
  </div>
</div>
