<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for(@user, size: 80) %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="meme-form">
      <%= render 'shared/meme_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.memes.any? %>
      <h3>Memes (<%= @user.memes.count %>)</h3>
      <ul class="memes">
        <%= render @memes %>
      </ul>
      <%= will_paginate @memes %>
    <% end %>
  </div>
</div>
