<%= provide(:title, @user.name) %>
<% if current_user == @user %>
  <div class="row meme-creation">
      <%= render 'shared/meme_form' %>
  </div>
<% else %>
  <div class="col-md-4 col-md-offset-2 avatar">
    <% if @user.avatar_url %>
      <img src="<%= @user.avatar_url(:thumb) %>">
    <% else %>
      <i class="glyphicon glyphicon-user" id="default-avatar-image"></i>
    <% end %>
  </div>
<% end %>

<div class="row meme-thumbnails">
  <div class="col-xs-8 col-xs-offset-2">
    <% if @user.memes.any? %>
      <% if @tag %>
        <% if current_user?(@user) %>
          <h3>Muh Saved Memes with tag <%= @tag %>: <%= @user.memes.tagged_with(@tag).count %></h3>
        <% else %>
          <h3><%= @user.name %>'<%= @user.name.last == "s" ? "" : "s" %> Saved Memes with tag <%= @tag %>: <%= @user.memes.tagged_with(@tag).count %></h3>
        <% end %>
        <%= link_to "Show All", user_path(@user), class: "btn btn-primary" %>
      <% else %>
      <% if current_user?(@user) %>
        <h3>Muh Saved Memes (<%= @user.memes.count %>)</h3>
      <% else %>
        <h3><%= @user.name %>'<%= @user.name.last == "s" ? "" : "s" %> Saved Memes (<%= @user.memes.count %>)</h3>
      <% end %>
        <div class="tag-cloud">
          <% tag_cloud @user.user_tag_counts_collection, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, user_tag_path(@user, tag.name), class: css_class %>
          <% end %>
        </div>
      <% end %>
      <ul class="memes">
        <% if current_user?(@user) %>
          <%= render @memes %>
        <% else %>
          <%= render @public_memes %>
        <% end %>
      </ul>
      <%= will_paginate @memes %>
    <% end %>
  </div>
</div>
