<%= provide(:title, @user.name) %>



<% if current_user == @user %>
  <div class="row meme-creation">
      <%= render 'shared/meme_form_nested' %>
  </div>
<% else %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-4 avatar">
    <% if @user.avatar_url %>
      <img src="<%= @user.avatar_url(:thumb) %>">
    <% else %>
      <i class="glyphicon glyphicon-user" id="default-avatar-image"></i>
    <% end %>
  </div>
<% end %>

<div class="row meme-thumbnails">
  <div class="col-xs-12 center">
    <% if @user.memes.any? %>
      <% if @tag %>
        <% if current_user?(@user) %>
          <h3 class="saved-memes-header">Muh Saved Memes with tag <%= @tag %>: <%= @user.memes.tagged_with(@tag).count %></h3>
        <% else %>
          <h3 class="saved-memes-header"><%= @user.name %>'<%= @user.name.last == "s" ? "" : "s" %> Saved Memes with tag <%= @tag %>: <%= @user.memes.tagged_with(@tag).count %></h3>
        <% end %>
        <%= link_to "Show All", user_path(@user), class: "btn btn-primary" %>
      <% else %>
      <% if current_user?(@user) %>
        <h3 class="saved-memes-header">Muh Saved Memes (<%= @user.memes.count %>)</h3>
      <% else %>
        <h3 class="saved-memes-header"><%= @user.name %>'<%= @user.name.last == "s" ? "" : "s" %> Saved Memes (<%= @user.memes.count %>)</h3>
      <% end %>
      <div class="col-xs-12 center search-area">
        <%= form_tag user_path(@user), :method => :get, class: "form-inline" do %>
          <% if current_user?(@user) %>
            <select class='form-control' name="type" id="current-user-meme-type">
              <option <%= "Selected" if params[:type] == "All" %>>All</option>
              <option <%= "Selected" if params[:type] == "My Creations" %>>My Creations</option>
              <option <%= "Selected" if params[:type] == "Favorited Memes" %>>Favorited Memes</option>
            </select>
          <% else %>
            <select class='form-control' name="type" id="other-user-meme-type" value=<%= params[:type] ? params[:type] : "All" %>>
              <option <%= "Selected" if params[:type] == "All" %>>All</option>
              <option <%= "Selected" if params[:type] == "Created by #{@user.name}" %>>Created by <%= @user.name %></option>
              <option <%= "Selected" if params[:type] == "Favorited Memes" %>>Favorited Memes</option>
            </select>
          <% end %>
          <div class="input-group col-xs-6 col-md-4 col-lg-3 search-bar">
            <%= text_field_tag :search, params[:search], placeholder: "Search Memes", class: "form-control col-xs-12" %>
          </div>
            <%= button_tag type: "submit", class: "btn btn-secondary" do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
            <%= button_tag type: "submit", class: "btn btn-primary", name: "all" do %>
              <span class="glyphicon glyphicon-refresh"></span>
            <% end %>
        <% end %>
      </div>
      <div class="row center">
        <div class="tag-cloud col-xs-12 col-md-offset-3 col-md-6">
          <% tag_cloud @user.user_tag_counts_collection, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, { :search => tag.name }, class: css_class %>
          <% end %>
        </div>
      </div>
      <% end %>
      
      <ul class="memes-list center">
        <% if current_user?(@user) %>
          <%= render @search_memes %>
        <% else %>
          <%= render @public_memes %>
        <% end %>
      </ul>
      <% if current_user?(@user) %>
        <%= will_paginate @search_memes %>
      <% else %>
        <%= will_paginate @public_memes %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $("#current-user-meme-type").on("change", function() {
    this.form.submit();
  });
  $("#other-user-meme-type").on("change", function() {
    this.form.submit();
  });
</script>
