<script>
$(function() {
  $("#image-private-checkbox-update").change(function() {
    $.ajax({
      type: "PUT",
      url: "/original_images/<%=@original_image.id%>.json",
      contentType: 'application/json',
      data: JSON.stringify({private: this.checked, _method:"PUT"}),
      dataType: 'json'
      });
  });
});
</script>

<div class="row meme-creation hidden">
    <%= render 'shared/meme_form' %>
</div>

<div class="row" id="image-area">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 center">
    <div class="image">
      <p>
        Uploaded by: <%= link_to @user.name, user_path(@user) %>
      </p>
      <div><%= image_tag @original_image.original_image.url, :id => "original-image-show-image" %></div>
      <% if current_user == @user %>
        <ul id="original-image-options">
          <li id="original-image-delete-button" class="col-xs-6">
            <%= link_to original_image_path(@original_image), method: :delete do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          </li>
          <li class="col-xs-6" id="image-private">
            <%= form_for(@original_image, url: { controller: "original_images", action: "update"}) do |f| %>
              <%= f.check_box :private, id: "image-private-checkbox-update" %>
              <%= f.label "private image" %>
            <% end %>
          </li>
        </ul>
      <% end %>
      <button type="button" class="btn btn-success meme-image-button" id="meme-this" data-original-image=<%= @original_image.original_image.url %>>Meme this image!</button>
    </div>
  </div>
</div>
<div class="row meme-thumbnails">
  <div class="col-xs-12 center">
    <h3>Related Memes (<%= @memes.count %>)</h3>
    <% if @memes.any? %>
      <%= will_paginate @memes %>
      <ul class="memes-list">
        <%= render @memes %>
      </ul>
      <%= will_paginate @memes %>
    <% end %>
    
  </div>
</div>
    